[submodule "HaselCommon"]
	path = HaselCommon
	url = https://github.com/zhouhuichen741/HaselCommon.git
[submodule "FFXIVClientStructs"]
	path = FFXIVClientStructs
	url = https://github.com/Dalamud-DailyRoutines/FFXIVClientStructs.git
